h1 {
font-family: "Raleway", sans-serif;
color: #fff;
font-weight: 400;
font-size: 45px;
letter-spacing: 1px;
margin: 0;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-color: white;
}

h2 {
font-family: "Raleway", sans-serif;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 600px;
font-size: 20px;
}

p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}

body {
text-align: center;
margin: 0;
}

header {
  background-color: #F15B31;
  padding: 30px 20px;
}

nav {
  background-color: #00A6B3;
  padding: 20px 0;
}

main {
  width: 850px;
  margin: 35px auto;
}

img {
  margin: 40px 8px 0 8px;
}

footer {
  padding: 0 20px;
  text-transform: uppercase;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.button {
   background-color: #F15B31;
   width: 100px;
   height: 35px;
   border-radius: 10px;
}

.button:hover {
  cursor: pointer;
}

.copyright {
  float:left;
  font-family: "Raleway", sans-serif;
}

.message {
  float:right;
  font-family: "Raleway", sans-serif;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
  font-weight: 700;
  color: #F15B31;
}
